body {
	background-color: yellow;
	margin: 0;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.carousel-container {
	width: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-container {
	margin-bottom: 20px;
	background-color: black;
	width: 100%;
	display: flex;
	justify-content: center;
}

nav {
	padding: 20px;
	width: 50%;
	display: flex;
	justify-content: space-around;
}

nav > a {
	color: white;
}

.lnr {
	font-size: 60px;
}

.carousel-container {
	margin-top: 20px;
}

.carousel-images {
	width: 40%;
	box-sizing: border-box;
}

.carousel-images img {
	width: 100%;
	display: none;
	cursor: pointer;
}

.carousel-images img:first-of-type {
	display: block;
}

.modal {
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

.modal-info-box {
	background-color: white;
	height: 400px;
	width: 400px;
	border: 2px solid black;
	margin: 100px auto;
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 500px) {
	body {
		background-color: blue;
	}

	.lnr {
		font-size: 40px;
	}

	.carousel-container {
		width: 100%;
	}

}